@import "tailwindcss";

@source "../../lib/manfrod_web.ex";
@source "../../lib/manfrod_web/**/*.ex";

@theme {
  --font-mono: 'Overpass Mono', ui-monospace, monospace;
}

@variant phx-click-loading (&.phx-click-loading, .phx-click-loading &);
@variant phx-submit-loading (&.phx-submit-loading, .phx-submit-loading &);
@variant phx-change-loading (&.phx-change-loading, .phx-change-loading &);
